<ion-view title="Ontdek" hide-nav-bar="true">
  <ion-content>
  	  <div class="row row-full">
		  <div class="col header-orange"></div>
		  <div class="col header-blue"></div>
		  <div class="col header-magenta"></div>
		  <div class="col header-green"></div>
	  </div>
	  <div class="row">
	  	<div class="col logo"><img src="img/logo.jpg"></div>
	  </div>
	  <div class="row row-full eb-dash-zindex">
	  	<div class="col eb-dash-enkhuizen" style="background: url('img/enkhuizen.jpg') no-repeat;">
		  	<div class="row eb-dash-title">
			  <div class="col-90 padding">
				  <span>Musea & attracties</span>
				  <h2>Zuiderzeemuseum</h2>
			  </div>
			  <div class="col-10 padding">
			  	<div class="icon ion-ios7-arrow-right"></div>
			  </div>
			</div>
	  	</div>
	  </div>
	  <div class="list eb-dash-list">
		  <a class="item item-icon-left item-icon-right" href="#/tab/calendar">
		    <i class="icon eb-icon-left ion-calendar"></i>
		    Evenementen
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-help-buoy"></i>
		    Watersport
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-camera"></i>
		    Kunst en cultuur
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-bag"></i>
		    Shoppen
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-briefcase"></i>
		    Overnachten
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-wineglass"></i>
		    Eten, drinken & uitgaan
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-social-reddit-outline"></i>
		    Kinderen
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon eb-icon-left ion-map"></i>
		    Ontdek de regio
		    <i class="icon ion-ios7-arrow-right"></i>
		  </a>
	  </div>
  </ion-content>
</ion-view>
